<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>slideCrack</title>
</head>
<body>
    <h1>slideCrack</h1>
    <form method="post" action="/web/file/get">
        <label for="url">
            Slideshare URL
        </label>
        <input placeholder="Enter the slide share file URL" name="url" type="url" id="slideurl">
        <button>Get file</button>
    </form>
</body>
</html>